<%= link_to "Back To Profile", user_url(@user.id)%>
<h1>
<% if @user.nil? %>
<% else %>

<% if @user.id == session[:id] %>
  Your Pins
  <% else %>
  <% @user.name%> Pins
  <% end %></h1>
<% end %>


<% @pins.each do |pin| %>
  <a href="<%= board_pin_url(pin.boards.first.id) %>"><img src="<%=pin.url%>" height="200" width="200"></a>

<% end %>

<br />

