<h1>Find Friends!</h1>

<% @users.each do |user| %>
 <% if session[:id] != user.id %> 
 <div class="span2">
  <h3><%= user.name %></h3>
    <%= link_to image_tag(user.image, :height => 150, :width => 150), user %>
   
        <% if Friend.where(:user_id => session[:id], :friend_id => user.id).count > 0 %>
            <h4>Friended!</h4>
        <% else %>  
            <h4><%= link_to "Friend!", create_friend_url(:id => user.id), method: :post %></h4>
        <% end %> 
    </div>
  <% end %>
<% end %>