
<h4><%= link_to "Find New Friends!", find_friends_url %></h4>

<h2>Your Friends</h2>

<ul>
<% @friends.each do |friend| %>
<li><img src="<%= friend.friendship.image %>" height"75" width="75">
	<%= link_to friend.friendship.name, user_url(friend.friendship.id) %>,
	<ul>
	<% friend.friendship.boards.limit(3).each do |board|%>
			<li><%= link_to board.name, board_url(board.id) %></li>
	<% end %>
</ul>
</li>
<% end %>
</ul>

