
<br><br><h1>Pins</h1>


<% if @boards.count == 0 %>
  <h3>No Current Boards</h3>
<% else %>

<% @boards.each do |board| %>
    <div class="span12">
    <% board.board_pins.each_with_index do |board_pin, index| %>
           <% break if index == 5 %>
          <div class="span2" background-color= "#eeeeee">
            From <%= link_to board_pin.board.name, board_url(board_pin.board) %>
            <br>By <%= link_to board_pin.pin.user.name, user_url(board_pin.pin.user)%>
            <%= link_to image_tag(board_pin.pin.url), board_pin_url(board_pin) %> 
            </div>
        <% end %>
      </div>

    <% end %>
<% end %>  <!-- end if statement-->


